      <form id="targetform">
        <div class="row">
          <div class="col-3">
          <%= f.text_field :unit, value:"km", class:"form-control-plaintext"   %>
          </div>
          <div class="col-3">
          <%= f.text_field :value, value:"10", class:"form-control form-control"  %>
          </div>
        </div>
      </form>
