<div class="container-fluid">


      <div class="row">
        <br />
        <p>Vous avez accompli <%= 100*@stats[:subgoals_bests].length/@challenge.subgoals.length %>% du challenge</p>
        <br />
        <progress max="100" value="<%= 100*@stats[:subgoals_bests].length/@challenge.subgoals.length %>">

                <div pseudo= "-webkit-progress-inner-element">
                    <div pseudo= "-webkit-progress-bar">
                        <div pseudo= "-webkit-progress-value" style="width: 80%;"></div>
                    </div>
                </div>
        </progress>
      </div><!-- row -->

      <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="container-fluid">
                <table class="table table-dark col-md-3 col-sm-6">
                  <thead>
                    <td> Objectif </td>
                    <td> Réalisé ? </td>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
            </div> <!-- container -->
        </div>  <!-- col -->
      </div>  <!-- row -->
    </div>
