<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h4 class="h5">Suivi de l'objectif</h4>
  <div class="btn-toolbar mt-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Partager</button>
      <button class="btn btn-sm btn-outline-secondary">Exporter</button>
    </div>

    <div class="btn-group mr-2">
      <button type="button"class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="DropdownMenuTime" data-toggle="dropdown" >
        <i class='fa fa-dot-circle-o' style='font-size:12px'></i>
        Indicateurs
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdrown-item">
        <a class="dropdown-item active" href="#">Réalisé ou pas</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">km</a>
        <a class="dropdown-item" href="#">mn</a>
      </div><!-- dropdown menu -->
    </div><!-- btn-group -->

    <div class="btn-group">
      <button type="button"class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="DropdownMenuTime" data-toggle="dropdown" >
        <i class='fa fa-calendar' style='font-size:12px'></i>
        Période
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdrown-item">
        <a class="dropdown-item active" href="#">Semaine</a>
        <a class="dropdown-item" href="#">Mois</a>
        <a class="dropdown-item" href="#">Année</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Tous</a>
      </div><!-- dropdown menu -->
    </div><!-- btn-group -->
</div><!-- btn toolbar -->
</div><!-- d-flex -->

<canvas class="my-2" id="myChart" width="800" height="200"></canvas>

<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
      var ctx = document.getElementById("myChart");
      var date_accomplished = <%= raw @participations.find_by_challenge_id(Challenge.find_by_goal("courir un marathon").id).stats %>;
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels:<%= raw Challenge.first.subgoals %>,
          datasets: [{
            data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
</script>
