
        <nav class="col-md-12 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Mes challenges</span>
              <a class="d-flex align-items-center text-muted" href="#">
              </a>
            </h6>
          </br>
            <ul class="nav flex-column mb-2">
            <% @challenges.each do |chal| %>

                <li class="nav-item nav-chall">

                  <%= form_tag dashboard_path do %>
                    <%= hidden_field_tag "chal_id", chal.id %>
                    <%= submit_tag chal.goal, class: "btn-secondary btn-sm btn-challenge" %>
                  <% end %>

                </li>
            <% end %>
            </ul>
          </div>
        </nav>
