</br>
<div class="container">
    <div class="row">
        <div class="col-3-sm">
            <%= render 'shared/dash_sidebar' %>
        </div>
        <div class="col-9-sm">
            <%= render 'shared/dash_subgoals' %>
        </div>
    </div>
</div>