</br>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <%= render 'partials/dash_sidebar' %>
        </div>
        <div class="col-lg-9">
            <%= render 'partials/dash_unit_subgoals' %>
        </div>
    </div>
</div>
