<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Challenge</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Bilan <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Objectifs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= current_user.attended_challenges.first.subgoals.each do |subgoal| %>
                <a class="dropdown-item drop-subgoal" href="#"><%= subgoal.string %></a>
                <div class=""></div>
            <% end %>
          <div class="dropdown-divider"></div>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="graphcontent" id="default">
    <%= render 'shared/graph1' %>
</div>


<script>
    let current_content = $("#default")

    $('div.dropdown-menu a.drop-subgoal').on('click', function() {
    if (current_content.attr('id')) {current_content.removeAttr('id')};
    current_content.slideUp(); 
    current_content = $(this).find("div.graphcontent");
    current_content.slideDown();
});
</script>