


  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

<h1>Qu'allez vous accomplir ?</h1>

<<<<<<< HEAD
<%= render  "partials/chall_full" %>
=======
<%= render  "partials/full_challenge_form" %>

>>>>>>> f27b961f5ac90f9370c677a849078c4c7374e6fa
